:root {
    --fondo-azul: rgb(10, 24, 61);
    --texto-rojo: red;
    --texto-blanco: white;
    --white-cream: #e6e6e6;
}

.menu {
    background-color: var(--fondo-azul);
}

footer {
    background-color: var(--fondo-azul);
    color: white;
}

.row-cream {
    background-color: var(--white-cream);
    flex-direction: row-reverse;
    padding: 3rem 2rem;
    align-items: center;

}

.row-normal {
    padding: 3rem 2rem;
    align-items: center;
}

.row-tittle {
    margin-inline-start: 163px;
    margin-left: 163px;
    margin-bottom: 0px;
    padding-bottom: 18px;
    font-weight: 800;
}

p{
    font-family: Muli;
    font-size: 1.125rem;
}

.row-description {
    margin-inline-start: 163px;
    margin-left: 163px;
}

.horario {
    text-align: center;
    font-size: 26px;
}
.tittle-horario {
    font-weight: 800;
}


.cerrado {
    color:  var(--texto-rojo);
    
    
}

.margen-derecho {
    margin-right: 64px;

}


.row-img{
    background-position: 50%;
    background-size: cover;
    height: 302px;
    width: 100%;
    padding: 32px;
}

.row-img-left{
    background-position: 50%;
    background-size: cover;
    height: 302px;
    width: 100%;
    padding: 32px;
}

.iconos {
    color: white;
    text-decoration: none;
}

.imgPortada {
    width: 100%;


}

.imgResponsive {
    width: 100%;

}

.row>* {
    padding: 0;
}

iframe {
    width: 100%;
    height: 450px;
}




@media (min-width: 1200px) {
    
    p{
        font-size: 26px;
    }
    .row-img {
        
        width: 70%;
        float: right;
        
    }
    .row-img-left{
        max-width: 70%;
        
    }

    .imgPortada{
        width: 80%;
        margin-left: 150px;
        
    }
    
    
    
}

@media (max-width: 768px) {
    .row {
        display: block;
    }

    .row-tittle {
        margin-inline-start: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        padding-bottom: 8px;
    }

    .row-description{
        margin-inline-start: 0px;
        margin-left: 0px;
    }
    .row-img{
        padding: 0px;
    }
    .row-img-left{
        padding: 0px;
    }
}